* {
    font-family: Open Sans;
}
.login {
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: aquamarine;
}